<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unisc.trablinguagensformais"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.unisc.trablinguagensformais.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.unisc.trablinguagensformais.DialogNovaProducao"
            android:label="@string/title_activity_dialog_nova_producao"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name="com.unisc.automato.AutomatoActivity"
            android:label="@string/title_activity_automato" >
        </activity>
        <activity
            android:name="com.unisc.automato.DialogPalavra"
            android:label="@string/title_activity_dialog_palavra" 
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>
    </application>

</manifest>